/*
   Breakpoints
   ========================================================================== */

   $small: 600px;
   $medium: 768px;
   $medium-wide: 1024px;
   $large: 1280px;
   $x-large: 1600px;
   $max-width: $x-large;
   